/*
        !START USING SOME TYPE OF CSS ORGANIZATION METHOD LIKE BEM
        !https://www.youtube.com/watch?v=SBB1YtwODT0&t=654s
        !https://coggle.it/diagram/XfeRbWj7xy3dsEX8/t/web-development-in-2020
        
        Table Of Contents
        ------------------
      1. LAYOUTS
        1.1 General
        1.2 Header
      2. PAGES
        2.1 Homepage
        2.2 Contact
      3. COMPONENTS
        3.1 Chip
      4. MEDIA QUERIES
      5. ANIMATIONS

          Possible Issues
        ------------------
      1. position absolute: for a nav element and the instruction panel I used 
      position abosulte. That may cause layout issues that I am not aware of.

*/

:root {
  /*COLORS*/
  --mainColor: #3d3d3d;
  --secondaryColor: #dedede;
  --tertiaryColor: purple;

  /*TEXT*/
  --mainText: #000000;

  /*BORDER*/
  --b: solid 2px #00000088;
  --b_radius: 5px;
}
/**------------------------------------------
**            1. lAYOUTS
**------------------------------------------*/
/******************1.1 General******************/
* {
  margin: 0;
  padding: 0;

  color: var(--mainText);
}

body {
  background-color: var(--mainColor);

  font-family: "Bebas Neue", cursive;
  font-size: 100%;
}
a {
  text-decoration: none;
}
/*****************1.2 HEADER********************/
header {
  background: var(--secondaryColor);
  font-size: 2em;
  text-align: center;
  position: relative;
  padding-top: 10px;
  li {
    display: inline-block;
    vertical-align: middle;
    .rightLinks{
      position: absolute;
      left: 75%;
      top: 25%;
    }
  }
  a:hover {
    color: var(--tertiaryColor);
    h1 {
      color: var(--tertiaryColor);
    }
  }
  img {
    width: 5vw;
  }
  .logo{
    width: 65px;
  }
}
/**------------------------------------------
**            2. PAGES
**------------------------------------------*/
/*****************2.1 Homepage********************/
.instructions {
  background: white;
  border-radius: var(--b_radius);
  padding: 20px;
  width: 25vw;
  margin: auto;
  position: absolute;
  top: 70px;
  p{
    margin-bottom: 10px;
  }
}
.game {
  padding: 20px;
  position: relative;
}
.board {
  background-color: white;
  border: var(--b);
  border-radius: var(--b_radius);
  display: grid;
  grid-template-columns: repeat(3, auto);
  margin: auto;
  width: 33vw;
}
.quadrant {
  border: var(--b);
  padding: 20px;
  position: relative;
  text-align: center;
  img {
    width: 65px;
  }
}
.quadrant:hover {
  background-color: #dedede;
  cursor: pointer;
}
.credit{
  background-color: #ffffff;
  border: var(--b);
  border-radius: 30px;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  width: 200px;
  h2{
    color: purple;
  }
}
/*****************2.2 Contact********************/
.infoPanel{
  background: var(--secondaryColor);
  border: var(--b);
  border-radius: var(--b_radius);
  font-size: 1.3em;
  padding: 20px;
  margin: auto;
  margin-top: 20px;
  width: 40%;
  .infoText{
    padding: 20px 0;
  }
  ul{
    list-style-type: none;
    li{
      padding: 10px 0;
    }
    img{
      vertical-align: middle;
    }
  }
  .wave{
    width: 40px;
    animation: wave 2s infinite;
  }
}
/**------------------------------------------
**            3. COMPONENTS
**------------------------------------------*/
/*****************3.1 Chip********************/
.chip {
  background: red;
  border: solid black 2px;
  border-radius: 50px;
  box-shadow: black 2px 1px;
  display: grid; /*to align the text center*/
  font-size: 1em;
  place-items: center; /*to align the text center*/
  width: 5em;
  height: 5em;

  /*Positioning the chip*/
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  /*Overlap chip over everything*/
  position: absolute;
}
.randomizer{
  background-color: #ffffff;
  border: solid rgb(83, 58, 58);
  border-radius: 10px;
  box-shadow: 3px 4px 2px rgb(17, 17, 17);
  cursor: pointer;
  padding: 5px;
  margin: 5px calc(50% - 60px);
  text-align: center;
  h3{
    color: #002fff;
  }
}
.randomizer:active{
  box-shadow: 2px 3px 2px rgb(17, 17, 17);
}
.randomizer:hover{
  background-color: #d4d4d6;
}
/**------------------------------------------
**            4. MEDIA QUERIES
**------------------------------------------*/
@media all and(max-width: 1340px){
  .board{
    width: 450px;
  }
  .instructions{
    position: static;
    width: 350px;
    margin: 10px auto;
  }
  .infoPanel{
    width: 80vw;
  }
}
@media all and(max-width: 500px){
  .instructions{
    width: 80vw;
  }
  .board{
    width: 80vw;
    img{
      width: 45px;
    }
  }
} 
/**------------------------------------------
**            5. ANIMATIONS
**------------------------------------------*/
@keyframes wave{
  from{
    transform-origin: bottom;
    transform: rotate(30deg);
  }
  50%{
    transform-origin: bottom;
    transform: rotate(-25deg);
  }
  to{
    transform-origin: bottom;
    transform: rotate(30deg);
  }
}