@charset "UTF-8";
/*
        !START USING SOME TYPE OF CSS ORGANIZATION METHOD LIKE BEM
        !https://www.youtube.com/watch?v=SBB1YtwODT0&t=654s
        !https://coggle.it/diagram/XfeRbWj7xy3dsEX8/t/web-development-in-2020
        
        Table Of Contents
        ------------------
      1. LAYOUTS
        1.1 General
        1.2 Header
      2. PAGES
        2.1 Homepage
        2.2 Contact
      3. COMPONENTS
        3.1 Chip
        3.2 Buttons
      4. MEDIA QUERIES
      5. ANIMATIONS

          Possible Issues
        ------------------
      1. position absolute: for a nav element and the instruction panel I used 
      position abosulte. That may cause layout issues that I am not aware of.

*/
:root {
  /*COLORS*/
  --mainColor: #3d3d3d;
  --secondaryColor: #dedede;
  --tertiaryColor: #ffffff;
  /*TEXT*/
  --mainText: #000000;
  /*BORDER*/
  --b: solid 2px #00000088;
  --b_radius: 10px;
}

/**------------------------------------------
**            1. lAYOUTS
**------------------------------------------*/
/******************1.1 General******************/
* {
  margin: 0;
  padding: 0;
  color: var(--mainText);
}

body {
  background-color: var(--mainColor);
  font-family: "Bebas Neue", cursive;
}

a {
  text-decoration: none;
}

/*****************1.2 HEADER********************/
header {
  background: var(--secondaryColor);
  font-size: 2em;
  text-align: center;
  position: relative;
  padding-top: 10px;
}

header li {
  display: inline-block;
  vertical-align: middle;
}

header li .rightLinks {
  position: absolute;
  left: 75%;
  top: 25%;
}

header a:hover {
  color: purple;
}

header a:hover h1 {
  color: purple;
}

header .logo {
  width: 65px;
}

/**------------------------------------------
**            2. PAGES
**------------------------------------------*/
/*****************2.1 Homepage********************/
.game {
  padding: 20px;
  position: relative;
}

.instructions {
  background: var(--tertiaryColor);
  border-radius: var(--b_radius);
  padding: 20px;
  width: 25vw;
  margin: auto;
  position: absolute;
  /*relative to .game*/
  top: 70px;
}

.instructions p {
  margin-bottom: 10px;
}

.board {
  background-color: var(--tertiaryColor);
  border: var(--b);
  border-radius: var(--b_radius);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  margin: auto;
  width: 33vw;
}

.quadrant {
  border: var(--b);
  padding: 20px;
  position: relative;
  /*to be able to add a chip*/
  text-align: center;
}

.quadrant:hover {
  background-color: var(--secondaryColor);
  cursor: pointer;
}

.credit {
  background-color: var(--tertiaryColor);
  border: var(--b);
  border-radius: 30px;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  width: 200px;
}

.credit h2 {
  color: purple;
}

/*****************2.2 Contact********************/
.infoPanel {
  background: var(--secondaryColor);
  border: var(--b);
  border-radius: var(--b_radius);
  font-size: 1.3em;
  padding: 20px;
  margin: auto;
  margin-top: 20px;
  width: 40%;
}

.infoPanel .infoText {
  padding: 20px 0;
}

.infoPanel ul {
  list-style-type: none;
}

.infoPanel ul li {
  padding: 10px 0;
}

.infoPanel ul img {
  vertical-align: middle;
}

.infoPanel .wave {
  width: 40px;
  -webkit-animation: wave 2s infinite;
          animation: wave 2s infinite;
}

/**------------------------------------------
**            3. COMPONENTS
**------------------------------------------*/
/*****************3.1 Chip********************/
.chip {
  background: red;
  border: solid black 2px;
  border-radius: 50px;
  -webkit-box-shadow: black 2px 1px;
          box-shadow: black 2px 1px;
  display: -ms-grid;
  display: grid;
  /*to align the text center*/
  font-size: 1em;
  place-items: center;
  /*to align the text center*/
  width: 5em;
  height: 5em;
  /*Positioning the chip*/
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  /*Overlap chip over everything*/
  position: absolute;
  z-index: 1;
}

/*****************3.2 Buttons********************/
button {
  background-color: #24ad2a;
  color: white;
  cursor: pointer;
  padding: 5px;
  margin: 5px calc(50% - 60px);
  text-align: center;
}

button h3 {
  color: #ffffff;
}

button:hover {
  background-color: #4aca2a;
}

/**------------------------------------------
**            4. MEDIA QUERIES
**------------------------------------------*/
@media all and (max-width: 1340px) {
  .board {
    width: 450px;
  }
  .instructions {
    position: static;
    width: 350px;
    margin: 10px auto;
  }
  .infoPanel {
    width: 80vw;
  }
}

@media all and (max-width: 500px) {
  .instructions {
    width: 80vw;
  }
  .board {
    width: 90vw;
  }
  .board img {
    /* scaling the image down*/
    -webkit-transform: scale(0.75);
    /* Saf3.1+, Chrome */
    /* FF3.5+ */
    /* IE9 */
    /* Opera 10.5+ */
    transform: scale(0.75);
    /* IE6–IE9 */
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9999619230641713, M12=-0.008726535498373935, M21=0.008726535498373935, M22=0.9999619230641713,SizingMethod='auto expand');
  }
}

/**------------------------------------------
**            5. ANIMATIONS
**------------------------------------------*/
@-webkit-keyframes wave {
  from {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  50% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  to {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
}
@keyframes wave {
  from {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  50% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  to {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
}
/*# sourceMappingURL=styles.css.map */