/*
        !START USING SOME TYPE OF CSS ORGANIZATION METHOD LIKE BEM
        !https://www.youtube.com/watch?v=SBB1YtwODT0&t=654s
        !https://coggle.it/diagram/XfeRbWj7xy3dsEX8/t/web-development-in-2020
        
        Table Of Contents
        ------------------
      1. LAYOUTS
        1.1 General
        1.2 Header
      2. PAGES
        2.1 Homepage
        2.2 Contact
      3. COMPONENTS
        3.1 Board
        3.2 Chip
      4. Animations

          Possible Issues
        ------------------
      1. position absolute: for a nav element and the instruction panel I used 
      position abosulte. That may cause layout issues that I am not aware of.

*/

:root {
  /*COLORS*/
  --mainColor: #3d3d3d;
  --secondaryColor: #dedede;
  --tertiaryColor: purple;

  /*TEXT*/
  --mainText: #000000;

  /*BORDER*/
  --b: solid 2px #00000088;
  --b_radius: 5px;
}
/**------------------------------------------
**            1. lAYOUTS
**------------------------------------------*/
/******************1.1 General******************/
* {
  margin: 0;
  padding: 0;

  color: var(--mainText);
}

body {
  background-color: var(--mainColor);

  font-family: "Bebas Neue", cursive;
  font-size: 100%;
}
a {
  text-decoration: none;
}
/*****************1.2 HEADER********************/
header {
  background: var(--secondaryColor);
  font-size: 2em;
  text-align: center;
  position: relative;
  li {
    display: inline-block;
    vertical-align: middle;
    .rightLinks{
      position: absolute;
      left: 75%;
      top: 25%;
    }
  }
  a:hover {
    color: var(--tertiaryColor);
    h1 {
      color: var(--tertiaryColor);
    }
  }
  img {
    width: 5vw;
  }
}
/**------------------------------------------
**            2. PAGES
**------------------------------------------*/
/*****************2.1 Homepage********************/

.instructions {
  background: white;
  border-radius: var(--b_radius);
  padding: 20px;
  width: 25vw;

  position: absolute;
  top: 20px;
  p{
    margin-bottom: 10px;
  }
}
.game {
  padding: 20px;
  position: relative;
}
/*****************2.2 Contact********************/
.contactItems{
  display: flex;
}
.contact{
  display: grid;
  padding: 20px;
  margin: 20px;
  width: 60%;
  label{
    color: var(--secondaryColor);
    font-size: 1.5em;
  }
  input, textarea{
    border: var(--b);
    border-radius: var(--b_radius);
    margin-bottom: 10px;
    padding: 10px;
  }
}
.infoPanel{
  background: var(--secondaryColor);
  border: var(--b);
  border-radius: var(--b_radius);
  display: grid;
  font-size: 1.3em;
  padding: 20px;
  margin: 20px;
  width: 40vw;
  ul{
    list-style-type: none;
  }
  img{
    width: 50px;
  }
}
/**------------------------------------------
**            3. COMPONENTS
**------------------------------------------*/
/*****************3.1 Board********************/
.board {
  background-color: white;
  border: var(--b);
  border-radius: var(--b_radius);
  display: grid;
  grid-template-columns: repeat(3, auto);
  margin: auto;
  width: 33vw;
}
.quadrant {
  border: var(--b);
  padding: 20px;
  position: relative;
  text-align: center;
  img {
    width: 5vw;
  }
}
.quadrant:hover {
  background-color: #dedede;
  cursor: pointer;
}

/*****************3.2 Chip********************/

.chip {
  background: red;
  border: solid black 2px;
  border-radius: 50px;
  box-shadow: black 2px 1px;
  display: grid; /*to align the text center*/
  font-size: 1em;
  place-items: center; /*to align the text center*/
  width: 5em;
  height: 5em;

  /*Positioning the chip*/
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  /*Overlap chip over everything*/
  position: absolute;
}
/**------------------------------------------
**            4. Animations
**------------------------------------------*/
@keyframes wave{
  from{
    transform-origin: bottom;
    transform: rotate(30deg);
  }
  50%{
    transform-origin: bottom;
    transform: rotate(-25deg);
  }
  to{
    transform-origin: bottom;
    transform: rotate(30deg);
  }
}
.wave{
  animation: wave 4s;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}