/*
        !START USING SOME TYPE OF CSS ORGANIZATION METHOD LIKE BEM
        !https://www.youtube.com/watch?v=SBB1YtwODT0&t=654s
        !https://coggle.it/diagram/XfeRbWj7xy3dsEX8/t/web-development-in-2020
        
        Table Of Contents
        ------------------
      1. LAYOUTS
        1.1 General
        1.2 Header
      2. COMPONENTS
        2.1 Board
        2.2 Chip
      4. PAGES
*/

:root {
  /*COLORS*/
  --mainColor: #3d3d3d;
  --secondaryColor: #dedede;
  --tertiaryColor: red;

  /*TEXT*/
  --mainText: #000000;

  /*BORDER*/
  --b: solid 2px #00000088;
  --b_radius: 5px;
}
/**------------------------------------------
**            1. lAYOUTS
**------------------------------------------*/
/******************1.1 General******************/
* {
  margin: 0;
  padding: 0;

  color: var(--mainText);
}

body {
  background-color: var(--mainColor);

  font-family: "Bebas Neue", cursive;
  font-size: xx-large;
}
a {
  text-decoration: none;
}
/*****************1.2 HEADER********************/
header {
  background: var(--secondaryColor);
  li {
    display: inline-block;
  }
  a {
    margin: 20px;
  }
  a:hover {
    color: var(--tertiaryColor);
  }
}
/**------------------------------------------
**            2. COMPONENTS
**------------------------------------------*/
/*****************2.1 Board********************/
.board{
  background-color: white;
  border: var(--b);
  border-radius: var(--b_radius);
  display: grid;
  grid-template-columns: repeat(3, auto);  
  margin: auto;
  width:50vw;
}
.quadrant {
  border: var(--b);
  padding: 20px;
  text-align: center;
}
.quadrant:hover {
  background-color: #dedede;
  cursor: pointer;
}
img{
  width: 5vw;
}
/*****************2.2 Chip********************/

.chip{
  background: red;
  border: solid black 2px;
  border-radius: 50px;
  box-shadow: black 2px 1px;
  display: grid; /*to align the text center*/
  font-size: 22px;
  margin-left: 30px; /******************************************** !MAYBE FIX */
  place-items: center;/*to align the text center*/
  width: 100px;
  height: 100px;

  /*Overlap chip over everything*/
  z-index:100;
  position: absolute;
}

/**------------------------------------------
**            4. PAGES
**------------------------------------------*/
