/*
        !START USING SOME TYPE OF CSS ORGANIZATION METHOD LIKE BEM
        !https://www.youtube.com/watch?v=SBB1YtwODT0&t=654s
        !https://coggle.it/diagram/XfeRbWj7xy3dsEX8/t/web-development-in-2020
        
        Table Of Contents
        ------------------
      1. LAYOUTS
        1.1 General
        1.2 Header
      2. PAGES
        2.1 Homepage
        2.2 Contact
      3. COMPONENTS
        3.1 Board
        3.2 Chip
      4. Animations

          Possible Issues
        ------------------
      1. position absolute: for a nav element and the instruction panel I used 
      position abosulte. That may cause layout issues that I am not aware of.

*/
:root {
  /*COLORS*/
  --mainColor: #3d3d3d;
  --secondaryColor: #dedede;
  --tertiaryColor: purple;
  /*TEXT*/
  --mainText: #000000;
  /*BORDER*/
  --b: solid 2px #00000088;
  --b_radius: 5px;
}

/**------------------------------------------
**            1. lAYOUTS
**------------------------------------------*/
/******************1.1 General******************/
* {
  margin: 0;
  padding: 0;
  color: var(--mainText);
}

body {
  background-color: var(--mainColor);
  font-family: "Bebas Neue", cursive;
  font-size: 100%;
}

a {
  text-decoration: none;
}

/*****************1.2 HEADER********************/
header {
  background: var(--secondaryColor);
  font-size: 2em;
  text-align: center;
  position: relative;
}

header li {
  display: inline-block;
  vertical-align: middle;
}

header li .rightLinks {
  position: absolute;
  left: 75%;
  top: 25%;
}

header a:hover {
  color: var(--tertiaryColor);
}

header a:hover h1 {
  color: var(--tertiaryColor);
}

header img {
  width: 5vw;
}

/**------------------------------------------
**            2. PAGES
**------------------------------------------*/
/*****************2.1 Homepage********************/
.instructions {
  background: white;
  border-radius: var(--b_radius);
  padding: 20px;
  width: 25vw;
  position: absolute;
  top: 20px;
}

.instructions p {
  margin-bottom: 10px;
}

.game {
  padding: 20px;
  position: relative;
}

.credit {
  background-color: #ffffff;
  border: var(--b);
  border-radius: 30px;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  width: 15vw;
}

.credit h2 {
  color: purple;
}

/*****************2.2 Contact********************/
.contactItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact {
  display: -ms-grid;
  display: grid;
  padding: 20px;
  margin: 20px;
  width: 60%;
}

.contact label {
  color: var(--secondaryColor);
  font-size: 1.5em;
}

.contact input, .contact textarea {
  border: var(--b);
  border-radius: var(--b_radius);
  margin-bottom: 10px;
  padding: 10px;
}

.infoPanel {
  background: var(--secondaryColor);
  border: var(--b);
  border-radius: var(--b_radius);
  font-size: 1.3em;
  padding: 20px;
  padding-top: 0;
  margin: 20px;
  width: 40vw;
}

.infoPanel .infoText {
  padding: 20px 0;
}

.infoPanel ul {
  list-style-type: none;
}

.infoPanel ul li {
  padding: 10px 0;
}

.infoPanel ul img {
  vertical-align: middle;
}

.infoPanel .wave {
  width: 40px;
  -webkit-animation: wave 2s infinite;
          animation: wave 2s infinite;
}

.infoPanel .kofiLogo {
  width: 55px;
}

.infoPanel .twitchLogo {
  width: 50px;
}

.infoPanel .githubLogo {
  width: 45px;
}

.infoPanel .linkedinLogo {
  width: 40px;
}

/**------------------------------------------
**            3. COMPONENTS
**------------------------------------------*/
/*****************3.1 Board********************/
.board {
  background-color: white;
  border: var(--b);
  border-radius: var(--b_radius);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  margin: auto;
  width: 33vw;
}

.quadrant {
  border: var(--b);
  padding: 20px;
  position: relative;
  text-align: center;
}

.quadrant img {
  width: 5vw;
}

.quadrant:hover {
  background-color: #dedede;
  cursor: pointer;
}

/*****************3.2 Chip********************/
.chip {
  background: red;
  border: solid black 2px;
  border-radius: 50px;
  -webkit-box-shadow: black 2px 1px;
          box-shadow: black 2px 1px;
  display: -ms-grid;
  display: grid;
  /*to align the text center*/
  font-size: 1em;
  place-items: center;
  /*to align the text center*/
  width: 5em;
  height: 5em;
  /*Positioning the chip*/
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  /*Overlap chip over everything*/
  position: absolute;
}

/**------------------------------------------
**            4. Animations
**------------------------------------------*/
@-webkit-keyframes wave {
  from {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  50% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  to {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
}
@keyframes wave {
  from {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  50% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  to {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
}
/*# sourceMappingURL=styles.css.map */